body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    appearance: none;
    font-size: 1.25rem;
    background-color: green;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.35rem;
    margin-top: 2rem;
}

#btn-container {
    width: 348px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    justify-content: center;
}

.btn {
    height: 150px;
    width: 150px;
    border: 8px solid black;
    border-radius: 2rem;
}

#pink {
    background-color: #d95980;
}

#blue {
    background-color: #63aac0;
}

#orange{
    background-color: #f99b45;
}

#purple {
    background-color: #819FF9;
}